# Server configuration
SERVER_NAME=your_server_name
SERVER_USER=your_server_user

# Folder paths
LOCAL_BASE_FOLDER=/path/to/base/folder
SERVER_ORIGIN_FOLDER=/path/to/origin/folder
SERVER_SERIES_FOLDER=/path/to/series/folder
SERVER_COMEDY_FOLDER=/path/to/comedy/folder
SERVER_DESTINATION_BASE_FOLDER=/path/to/destination/base/folder
